.menuLink {
  font-size: 2rem;
  color: #00ffff;
  transition: 0.5s;
}

.menuLinkActive1 {
  color: #f87ce5 !important;
  text-decoration: none !important;
}
.menuLinkActive2 {
  color: #39ff6b !important;
  text-decoration: none !important;
}
.menuLinkActive3 {
  color: #fffb23 !important;
  text-decoration: none !important;
}
.menuLinkActive4 {
  color: #a17cf8 !important;
  text-decoration: none !important;
}

.linkUnderline {
  position: relative;
  bottom: 10px;
  left: 7px;
  width: 0;
  margin: 0 auto;
  height: 6px;
  transition: 0.5s;
}

.linkUnderlineActive1 {
  width: 80%;
  background-color: #f87ce5;
}
.linkUnderlineActive2 {
  width: 80%;
  background-color: #39ff6b;
}
.linkUnderlineActive3 {
  width: 80%;
  background-color: #fffb23;
}
.linkUnderlineActive4 {
  width: 80%;
  background-color: #a17cf8;
}
