/* Container styling */
.componentContainer,
.templateContainer {
  padding-top: 120px;
  min-height: 500px;
  margin-bottom: 100px;
}

.componentContainer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 76%;
  transform: skewY(-3deg);
  background-color: rgba(3, 49, 105, 0.26);
  z-index: -1;
}

.componentContainer:after {
  content: '';
  position: absolute;
  bottom: -16%;
  left: 0;
  width: 100%;
  height: 40%;
  transform: skewY(-3deg);
  background-color: rgba(95, 50, 153, 0.44);
  z-index: -1;
}

/* Layout elements styling */
.featureCol {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  text-align: center;
  min-height: 150px;
}

/* General feature link styling */
.featureLink {
  position: relative;
  height: 100%;
  padding: 10px 15px;
  transition: 1.5s;
  z-index: 2;
}

.featureLinkHeader {
  font-size: 2.5rem;
  transition: 0.5s;
  transition-delay: 0.2s;
}

.featureHeader {
  margin-bottom: 0;
  letter-spacing: 1.15px;
  transition: 0.5s;
}

/* Current feature link styling */
.featureLinkCurrent {
  border: 3px solid #00ffff;
}

.featureLinkCurrentActive {
  text-decoration: none !important;
  /* box-shadow: 5px 5px 5px 3px black; */
  transform: scale(1.03);
}

.featureLinkCurrent:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 20%;
  height: 100%;
  background-color: #00ffff;
  transition: 0.5s;
}

.featureLinkCurrent:hover:before {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #00ffff,
    #00ecff,
    #34d0ff,
    #b4aaff,
    #f87ce5
  );
}

.featureLinkCurrent:after {
  content: '';
  position: absolute;
  top: -2%;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  border: 3px solid #00ffff;
  opacity: 0;
  transition: 0.5s;
  box-shadow: 5px 5px 5px 3px cyan;
}

.featureLinkCurrent:hover:after {
  opacity: 1;
  /* transform: translate(0px, 15px) rotate(4deg); */
  transition-delay: 0.3s;
  /* width: 105%; */
}

/* Future feature link styling */
.featureLinkFuture {
  border: 3px solid #808080;
}

.featureLinkFutureActive {
  text-decoration: none !important;
  box-shadow: 5px 5px 5px 3px black;
  transform: scale(1.03);
}

.featureLinkFuture:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 20%;
  height: 100%;
  background-color: #808080;
  transition: 0.5s;
}

.featureLinkFuture:hover:before {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #808080,
    #6a6a6a,
    #555555,
    #404040,
    #2d2d2d
  );
}
