.homeContainer {
    min-height: 400px;
    padding-top: 50px;
}

.featureCol {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 50px;
    text-align: center;
}

.featureLink {
    border: 3px solid cyan;
    padding: 10px 15px;
}

.featureLink:hover {
    text-decoration: none;
}

.featureHeader {
    margin-bottom: 0;
}