.homeLink {
    background-color: rgba(0,0,0,0);
    border: none;
}

.homeLink:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}