.featureContainer {
	/* padding-top: 150px;
	padding-bottom: 150px; */
	min-height: 120vh;
}

.featureHeader {
	font-size: 3.5rem;
}

.howItWorksText {
	font-size: 1.6rem;
	letter-spacing: 0.5px;
}

.prompt {
	color: #ff00ff;
}
